body {
	background-color: #b0aac2;
}

/* Set the size of the div element that contains the map */
#map {
	height: 600px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	margin-top: 40px;
}