<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}TaxiPourVous{% endblock %}</title>
  <link rel="icon" href="{% static 'img/taxi.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  {% if user.is_authenticated and user.is_passager %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/passager.css' %}">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chauffeur.css' %}">
  {% endif %}

  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 1.5rem 1rem; font-size: larger;">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-size: larger;">
      <img src="{% static 'img/taxi.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      TaxiPourVous
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aPropos">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacter' %}">Contacter nous</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><p class="pt-3 text-white bg-dark">Connecté en tant que <strong class="text-primary">{{ user.username }}</strong> <a href="{% url 'logout' %} " class="btn btn-info btn-sm">Déconnecter</a></p></li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            S'inscrire
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'passager_signup' %}"><i class="fas fa-user"></i> &nbsp;<b>Passager</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'chauffeur_signup' %}"><i class="fas fa-taxi"></i> &nbsp;<b>Chauffeur</b></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
        </li>
      {% endif %}
    </ul>
<!--
      <div class="col-6 text-right">
        {% if user.is_authenticated %}
        <p class="pt-3 text-white bg-dark">Connecté en tant que <strong class="text-primary">{{ user.username }}</strong> <a href="{% url 'logout' %} " class="btn btn-info btn-sm">Déconnecter</a></p>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-light" role="button">Se connecter</a>
        <a href="{% url 'signup' %}" class="btn btn-primary" role="button">S'inscrire</a>
        {% endif %}
      </div>
    -->
  </div>
</nav>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12" style="padding-right: 1px;padding-left: 1px;">
     <!-- <div class="row">
        <div class="col-6">
          <h1 class="logo">
            <a href="{% url 'home' %}">
              TaxiPourVous
              {% if user.is_authenticated %}
              {% if user.is_passager %}
              <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Passager profile"></span>
              {% else %}
              <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Chauffeur profile"></span>
              {% endif %}
              {% endif %}
            </a>
          </h1>
        </div>
      </div> -->
      <div class="card mb-1">
        <div class="card-body" style="padding: 0.25rem;">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
      theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
      $('#sidebar, #content').toggleClass('active');
      $('.collapse.in').toggleClass('in');
      $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
  });
</script>
{% block javascript %}{% endblock %}
</body>
</html>
