{% load static %}
<script>

  var x = document.getElementById("LatLng");

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 31.932940, lng: -4.423060},
      zoom: 15
    });

    var infoWindow = new google.maps.InfoWindow();

    if (navigator.geolocation) {
      $( document ).ready(function() {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          if ('{{lat}}' != 'vide') {
          var pos2 = {
                lat: {{lat}},
                lng: {{lng}}
              };
            }

        //  x.innerHTML = "Latitude: " + pos.lat + "<br>Longitude: " + pos.lng;


var icon2 = {
    url: "{% static 'img/marker_chauff.png' %}", // url
    scaledSize: new google.maps.Size(40, 61), // scaled size
    //origin: new google.maps.Point(0,0), // origin
    //anchor: new google.maps.Point(0, 0) // anchor
};
var icon = {
    url: "{% static 'img/marker_passa.png' %}", // url
    scaledSize: new google.maps.Size(40, 63), // scaled size
    //origin: new google.maps.Point(0,0), // origin
    //anchor: new google.maps.Point(0, 0) // anchor
};
          var marker  = new google.maps.Marker({position: pos  , map: map , icon : icon});
          if ('{{lat}}' != 'vide') {
          var marker2 = new google.maps.Marker({position: pos2 , map: map , icon : icon2});
          }
              //infoWindow.setPosition(pos);
              //infoWindow.setContent('Vous êtes ICI !');
              //infoWindow.open(map);
              map.setCenter(pos);              
              var citymap = {
                errachidia: {
                  center: pos,
                  population: 30
                }
              };
              
              for (var city in citymap) {
               
                var cityCircle = new google.maps.Circle({
                  strokeColor: '#FF0000',
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: '#FF0000',
                  fillOpacity: 0.35,
                  map: map,
                  center: citymap[city].center,
                  radius: Math.sqrt(citymap[city].population) * 100
                });
              }
              function showLocation(position) {
               var latitude = position.coords.latitude;
               var longitude = position.coords.longitude;

               $.ajax({

                url: '/update_lat_lng/',
                data: { 'Latitude': latitude, 'Longitude': longitude },
                type: 'POST'

              }).done(function(response){
               console.log(response);
             });

              
            }

            function errorHandler(err) {
             if(err.code == 1) {
              alert("Error: Access is denied!");
            } else if( err.code == 2) {
              alert("Error: Position is unavailable!");
            }
          }
          var options = {
              enableHighAccuracy: true,
              timeout: 5000,
              maximumAge: 0
          };
          var geoLoc = navigator.geolocation;
          var watchID = geoLoc.watchPosition(showLocation, errorHandler, options);




        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });

      });
    } else {
      
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">

  </script>
